<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to connect to and receive data from the KaiTag device.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs Bluetooth permission to find and connect to your KaiTag device.</string>
	<key>NSBluetoothServices</key>
	<array>
		<string>b7063e97-8504-4fcb-b0f5-aef2d5903c4d</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app needs location access always to track your position relative to teammates, even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs location access to show your position on the map while you are using the app.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>bluetooth-central</string>
	</array>
</dict>
</plist>
