<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>KaiTag Ally needs Bluetooth to connect to your KaiTag device for orientation tracking</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>This app needs Bluetooth permission to find and connect to your KaiTag device.</string>
	<key>NSBluetoothServices</key>
	<array>
		<string>b7063e97-8504-4fcb-b0f5-aef2d5903c4d</string>
	</array>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>KaiTag Ally needs your location to show you and your teammates on the map</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>KaiTag Ally needs your location to show you and your teammates on the map</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>location</string>
	</array>
</dict>
</plist>
